{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Admin Dashboard</h1>
        <p class="lead">This is a simple dashboard for managing Accounts, Customers, and Users.</p>
        <hr class="my-4">
        <p>Use the menu on the left to navigate between different entities.</p>
    </div>
{% endblock %}